---
    - name: Apply CVE-2022-41622 mitigation - iControl SOAP
      #/////////////////////////////////////////////////////////////////
      #Created by F5 Consultant S. Tariq Ali.
      #Created on 20221117
      #Apply CVE-2022-41622 mitigation using BIG-IP command module
      #This mitigation is for the BIG-IP systems only
      #This only applies mitigation for iControl SOAP (CVE-2022-41622)
      #Please test this solution within your test environment before applying it
      #within the prod environemnt
      #/////////////////////////////////////////////////////////////////
      #https://support.f5.com/csp/article/K94221585
      #For the BIG-IP system only, restrict access to the system's iControl SOAP API to only trusted users. 
      #If you are not using the iControl SOAP API, then you can disable all access by setting 
      #the iControl SOAP API allowed list to an empty list. 
      #/////////////////////////////////////////////////////////////////
      hosts: bigipdevices
      gather_facts: false
      vars:
        server_port: 443
        validate_certs: false

      tasks:
      - name: Check status and apply CVE-2022-41622 mitigation
        bigip_command:
          commands:
            - list /sys icontrol-soap
            - modify /sys icontrol-soap allow replace-all-with { }
            - list /sys icontrol-soap
          provider:
            server: "{{private_ip}}"
            user: "{{ansible_user}}"
            password: "{{ansible_ssh_pass}}"
            validate_certs: false
        register: cve_mitigation
    
      - name:  CVE install status
        debug:
          var: cve_mitigation.stdout_lines

      - name: Save running config
        bigip_config:
          provider:
            server: "{{private_ip}}"
            user: "{{ansible_user}}"
            password: "{{ansible_ssh_pass}}"
            validate_certs: false
          save: yes
        register: save_config

      - name:  Save sys config status
        debug:
          var: save_config.stdout_lines


